<h1>Editing Reviews</h1>

<%= render 'form', comment: @comment %>

<button type="button" class="details"><%= link_to 'Details', @comment %></button> |
<button type="button" class="back"><%= link_to 'Back', comments_path %></button>
